@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Start Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  color: #fff;
  background: #885335;
}

::selection {
  color: #fff;
  background: #885335;
}

body {
  width: 100%;
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #885335;
}

@media (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 0px;
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #885335; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type=checkbox]:checked {
  border-color: #885335; /* Border color when checked */
  background-color: #885335; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type=checkbox]::before {
  content: "✓"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type=checkbox]:checked::before {
  visibility: visible;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

.opacity-ani {
  opacity: 0;
  animation: opacityani 800ms ease 500ms forwards;
}

@keyframes opacityani {
  100% {
    opacity: 1;
  }
}
/* End Default */
.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.box2 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  transition: 0.3s;
}
.menu span:nth-child(1) {
  top: 28px;
}
.menu span:nth-child(2) {
  top: 40px;
}
.menu span:nth-child(3) {
  top: 52px;
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}

.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}

.formInner {
  width: 100%;
  height: 100vh;
  display: flex;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.form::-webkit-scrollbar {
  width: 0px;
}
.form form {
  width: 500px;
  height: 100vh;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}
.form form header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form form header h1 {
  font-size: 2.5em;
  font-weight: 500;
}
.form form header span {
  text-align: center;
  color: rgba(0, 0, 0, 0.2705882353);
}

.imgInner {
  width: 50%;
  position: relative;
  height: 100vh;
}
.imgInner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgInner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
}

.inputs {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.input img {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.input input,
.input textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  color: #885335;
  outline: 1px solid rgba(0, 0, 0, 0.2705882353);
  transition: 0.2s all ease;
  padding: 0 15px;
  font-weight: 500;
  background-color: #fff;
  font-size: 1em;
  box-shadow: -4px 4px 5px rgba(32, 32, 32, 0.132);
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2705882353);
}
.input input::placeholder,
.input textarea::placeholder {
  color: rgba(0, 0, 0, 0.2705882353);
}
.input input:focus,
.input textarea:focus {
  outline: 1px solid #885335;
}
.input textarea {
  height: 150px;
  padding: 10px;
  resize: none;
}
.input label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 2px dashed rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  cursor: pointer;
}

.pb20 {
  padding-bottom: 20px;
}

.rem {
  display: flex;
  justify-content: space-between;
}
.rem a {
  font-weight: 600;
  color: #000;
  font-size: 0.9em;
}

.chk {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #885335;
  font-size: 0.9em;
}

.btn {
  padding: 10px 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
  background-color: #885335;
}

.w100 {
  width: 100%;
}

.dont {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  padding-bottom: 50px;
}
.dont a {
  color: #0056ff;
}

@media (max-width: 1100px) {
  .form form {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .formInner {
    flex-direction: column;
    height: auto;
  }
  .imgInner {
    width: 100%;
    height: 50vh;
  }
  .dont {
    padding-bottom: 0;
  }
  .form {
    width: 100%;
    background-color: transparent;
    padding: 0 20px;
    height: auto;
  }
  .form form {
    height: auto;
    padding: 40px 20px;
    top: -150px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2509803922);
  }
}
@media (max-width: 500px) {
  .inputs {
    padding: 30px 0;
  }
  .form form header h1 {
    font-size: 2em;
  }
  .form form header span {
    font-size: 0.9em;
  }
  .input input {
    font-size: 0.9em;
  }
}
@media (max-width: 370px) {
  .dont {
    font-size: 0.8em;
  }
  .rem a {
    font-size: 0.8em;
  }
  .chk {
    font-size: 0.8em;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 0.2s;
  z-index: 5;
}

nav.color {
  background-color: #885335;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.251);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.goTop {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 20px;
  z-index: 5;
}
.goTop span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #885335;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
  cursor: pointer;
  transition: 0.2s;
}
.goTop span:hover {
  background-color: #885335;
}
.goTop span:hover i {
  color: #fff;
}
.goTop span i {
  color: #fff;
  font-size: 1.5em;
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 421px) {
  .logo img {
    width: 130px;
  }
}
.links {
  display: flex;
}

.mainLinks {
  display: flex;
  list-style: none;
}

.link {
  padding: 0 30px;
  font-size: 0.9em;
  color: #fff;
  text-transform: capitalize;
}
.link img {
  width: 7px;
}

.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 35px;
  border-radius: 15px;
  gap: 5px;
  transition: 0.2s;
}

.link.active {
  border: 1px solid #fff;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  transition: 0.3s;
}
.menu span:nth-child(1) {
  top: 28px;
}
.menu span:nth-child(2) {
  top: 40px;
}
.menu span:nth-child(3) {
  top: 52px;
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}

.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}

.ls {
  display: flex;
  gap: 20px;
}
.ls .mLinks {
  display: none;
}

.mLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 0.9em;
}

@media (max-width: 901px) {
  .menu {
    display: flex;
  }
  .last .mLinks {
    display: none;
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 80px;
    left: -100%;
    gap: 0;
    transition: 0.4s;
    background-color: #885335;
    padding: 0 0 70px 0;
  }
  .ls .mLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
  }
  .ls::-webkit-scrollbar {
    width: 0px;
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
  }
  .link {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 5%;
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
  .layer {
    display: none;
  }
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.homeImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head h1 {
  color: #fff;
  font-size: 2.5em;
}
.head span {
  color: #fff;
  opacity: 0.7;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}
.filter form {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 0.17);
  border-radius: 15px;
  gap: 50px;
}
.filter form button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 30px;
  border-radius: 7px;
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7294117647);
  height: 37px;
}

.filtLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.filtLinks a {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2px;
  font-weight: 500;
  overflow: hidden;
}
.filtLinks a::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.2s all ease;
  position: relative;
  left: -100%;
}
.filtLinks .active::after {
  left: 0;
  background-color: #fff;
}

.input2 {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  width: 200px;
}
.input2 span {
  color: #fff;
}
.input2 input,
.input2 select {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  color: rgba(255, 255, 255, 0.7294117647);
  padding-bottom: 5px;
  border-radius: 0;
}
.input2 input::-moz-placeholder, .input2 select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7294117647);
}
.input2 input::placeholder,
.input2 select::placeholder {
  color: rgba(255, 255, 255, 0.7294117647);
}
.input2 i {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: rgba(255, 255, 255, 0.7294117647);
}

.goDown {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.2s all ease;
}
.goDown i {
  margin-top: 5px;
}
.goDown:hover {
  border: 1px solid transparent;
  background-color: #885335;
}

.fTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 1100px) {
  .filter form {
    flex-direction: column;
    gap: 50px;
  }
  .fTwo {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .filter {
    padding-top: 20px;
  }
  .head {
    width: 100%;
  }
  .head h1,
  .head span {
    text-align: center;
  }
  .head h1 {
    font-size: 2em;
  }
  .head span {
    font-size: 0.9em;
  }
  .home {
    height: auto;
    padding: 100px 0 100px 0;
  }
  .filter form {
    gap: 20px;
    padding: 20px;
  }
  .fTwo {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .input2 {
    width: 100%;
    gap: 10px;
  }
  .input2 input,
  .input2 select {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .head h1 {
    font-size: 1.7em;
  }
  .head span {
    font-size: 0.9em;
  }
}
@media (max-width: 380px) {
  .head h1 {
    font-size: 1.5em;
  }
  .head span {
    font-size: 0.8em;
  }
}
.about {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.aboutBox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.aboutText {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aboutText h1 {
  color: #885335;
  line-height: 1;
  font-weight: 500;
  font-size: 2.2em;
}
.aboutText p {
  color: rgba(0, 0, 0, 0.81);
}
.aboutText img {
  width: 100%;
  border-radius: 20px;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.i2 {
  width: 500px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2509803922);
}
.i2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1100px) {
  .i2 {
    display: none;
  }
  .aboutText {
    width: 100%;
    flex-direction: column-reverse;
  }
  .aboutText img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
@media (max-width: 1100px) and (max-width: 550px) {
  .aboutText img {
    height: 300px;
  }
  .aboutText h1 {
    font-size: 2em;
  }
  .aboutText p {
    font-size: 0.9em;
  }
  .text {
    gap: 20px;
  }
}
.center {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.service {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 40px 20px;
  background-color: #885335;
  position: relative;
  border-radius: 10px;
  gap: 30px;
}
.service a {
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  text-decoration: underline;
}

.serv-img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #885335;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serv-img img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

.serv-text {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}

.mySwiper {
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 20px;
}

.fdc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fdc h1 {
  font-weight: 500;
  color: #885335;
}

.house {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  position: relative;
}
.house img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.house-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 3px;
}
.house-text h3 {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}
.house-text p {
  font-size: 0.8em;
}
.house-text span {
  font-size: 0.8em;
  font-weight: 700;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
  align-items: center;
}
.price span {
  color: #726e65;
  font-weight: 600;
}
.price button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0 15px;
  color: #fff;
  gap: 5px;
  border-radius: 10px;
  background-color: #726e65;
  font-size: 0.7em;
  transition: 0.2s all ease;
}
.price button:hover {
  background-color: #885335;
}
.price .remove {
  background-color: #ea0404;
}
.price .remove:hover {
  background-color: #ea0404;
}

.for {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  text-transform: capitalize;
  top: 10px;
  left: 10px;
  padding: 0 10px;
  background-color: #726e65;
  font-size: 0.7em;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2509803922), -1px -1px 2px rgba(0, 0, 0, 0.2509803922);
}

.pb100 {
  padding-bottom: 100px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #885335;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLogo img {
  width: 200px;
}
.footerLogo .aboutText {
  width: 400px;
}
.footerLogo .aboutText article p {
  font-size: 1em;
}

.footerLinkGroup {
  display: flex;
  gap: 50px;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkGroup h2 {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  transform: translateX(-20px);
}
.linkGroup ul {
  display: flex;
  flex-direction: column;
  list-style: disc;
  color: #fff;
}
.linkGroup ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  line-height: 1.7;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s all ease;
  font-weight: 300;
}
.linkGroup ul li a img {
  width: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cont {
  width: 290px;
}
.cont h2 {
  transform: translateX(0);
}
.cont ul {
  list-style: none;
}
.cont ul li:nth-child(1) a {
  line-height: 1.5;
}
.cont ul li a {
  line-height: 2;
}
.cont ul li a img {
  width: 20px;
}

.media {
  display: flex;
  gap: 10px;
}
.media a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  background-color: #fff;
}
.media a i {
  color: #885335;
  font-size: 1.1em;
  transition: 200ms all ease;
}

@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo img {
    width: 200px;
  }
  .footerLogo .aboutText {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
    gap: 50px;
  }
  .footerLinkGroup {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .center.pb100 {
    padding-top: 0;
  }
  .fdc h1 {
    font-size: 1.5em;
  }
  .mySwiper {
    padding-left: 0;
  }
  .footerLinkGroup {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
  }
  .cont {
    width: 100%;
    transform: translateX(-20px);
  }
  .linkGroup h2 {
    font-size: 1.5em;
  }
  .linkGroup ul li a {
    font-size: 1em;
  }
}
@media (max-width: 550px) {
  .house {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .services {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 70px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 500px) {
  .fdc h1 {
    font-size: 1.3em;
  }
  .house {
    width: calc(100% - 20px);
  }
}
@media (max-width: 400px) {
  .house {
    width: 100%;
  }
}
.header {
  height: 400px;
  border-bottom: 5px solid #885335;
}
.header .h1 {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
}

@media (max-width: 550px) {
  .header {
    height: 300px;
  }
}
@media (max-width: 420px) {
  .header {
    height: 300px;
  }
  .header .h1 {
    font-size: 1.7em;
  }
}
@media (max-width: 370px) {
  .header .h1 {
    font-size: 1.5em;
  }
}
.hos {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.g30 {
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
  direction: ltr;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(32, 32, 32, 0.132);
}

.page {
  font-size: 0.9em;
  color: #885335;
}
.page span {
  color: #000;
  opacity: 0.7;
}

@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
    color: #885335;
  }
  .page span {
    color: #000;
  }
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.paginations button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}
.paginations button img {
  width: 7px;
}

.spans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0 10px;
}
.spans li:nth-child(1) .page-link {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li:last-child .page-link {
  background-color: #fff;
}
.spans li:last-child .page-link.active {
  background-color: #fff;
}
.spans li:last-child .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li .page-link.active {
  background-color: #885335;
  color: #fff;
}
.spans li .page-link.active:hover {
  background-color: #885335;
}
.spans li .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eef0f4;
  color: #885335;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.8em;
}
.spans li .page-link img {
  width: 7px;
}
.spans li .page-link:hover {
  background-color: #c7c7c8;
}

.pt100 {
  margin-top: 50px;
}

.mySwiper2 {
  width: 100%;
  height: 100%;
}
.mySwiper2 .swiper-slide {
  position: relative;
  height: 100vh;
}
.mySwiper2 .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: 2;
}
.mySwiper2 .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mySwiper2 .swiper-pagination {
  color: #fff;
}

.pt0 {
  padding-top: 0;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.disc {
  width: 100%;
  padding: 0 20px 50px 20px;
  display: flex;
  justify-content: space-between;
}

.d-text {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 10px;
}
.d-text p {
  color: rgba(0, 0, 0, 0.73);
  font-weight: 600;
}

.dt {
  width: 300px;
  gap: 15px;
}

.rwo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(0, 0, 0, 0.62);
}
.rwo img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.btns {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

.bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #726e65;
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  gap: 20px;
}

.down {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #885335;
  font-size: 0.7em;
  color: #fff;
}

.open {
  font-size: 0.7em;
  color: #fff;
}

.close {
  font-size: 0.7em;
  color: #fff;
  opacity: 0.7;
}

.conta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #726e65;
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  gap: 10px;
  font-size: 0.9em;
  cursor: pointer;
}
.conta i {
  font-size: 1.1em;
}

.book {
  display: flex;
  padding-top: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.pc {
  display: flex;
  gap: 5px;
  align-items: center;
}
.pc span {
  font-weight: 600;
  color: #726e65;
  font-size: 2em;
}

.bo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #726e65;
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  gap: 10px;
  font-size: 0.9em;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .disc {
    flex-direction: column;
  }
  .d-text,
  .dt {
    width: 100%;
  }
}
.helpText {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.helpText .box {
  display: flex;
  flex-direction: column;
}
.helpText .box h1 {
  color: #fff;
  font-size: 3em;
  line-height: 1.2;
}
.helpText .box p {
  padding: 20px 0;
  width: 400px;
  color: #dcdbdb;
  line-height: 2;
}
.helpText .box form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  position: relative;
}
.helpText .box form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 40px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.helpText .box form i {
  position: absolute;
  right: 15px;
}

@media (max-width: 750px) {
  .helpText .box h1 {
    font-size: 2em;
  }
  .helpText .box p {
    width: 100%;
    font-size: 0.9em;
  }
  .helpText .box form {
    width: 100%;
  }
}
.h100vh {
  height: 100vh;
}

.popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  animation: hideM 500ms ease 3s forwards;
  z-index: 10;
}

.message {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
  bottom: 0;
  font-size: 0.9em;
  white-space: nowrap;
}
.message::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: red;
  animation: fade 3s linear forwards;
}

.success {
  background-color: #00800d;
}

.fail {
  background-color: #970808;
}
.fail::after {
  background-color: #fff;
}

@keyframes fade {
  100% {
    left: -100%;
  }
}
@keyframes hideM {
  100% {
    bottom: -100%;
  }
}
@media (max-width: 500px) {
  .message {
    width: 100%;
    border-radius: 0;
    height: 45px;
  }
}
.twoLinks {
  display: flex;
  gap: 15px;
  align-items: center;
}
.twoLinks img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.last {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

@media (max-width: 340px) {
  .last {
    gap: 10px;
  }
  .twoLinks {
    gap: 10px;
  }
  .twoLinks img {
    width: 30px;
    height: 30px;
  }
}
.account {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.acc {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.accImg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.accImg label {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgba(126, 77, 30, 0.69);
  font-size: 0.9em;
  font-weight: 500;
}
.accImg label img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.accImg button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 40px;
  background-color: #885335;
  color: #fff;
  margin-top: 20px;
}

.a-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.a-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.accData {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hhdd {
  color: #885335;
  font-weight: 500;
}

.inData {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inData h3 {
  font-weight: 500;
  color: rgba(126, 77, 30, 0.79);
}

.rd {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.rd span {
  font-weight: 500;
}
.rd input {
  width: 300px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.51);
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

@media (max-width: 850px) {
  .acc {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
@media (max-width: 550px) {
  .hhdd {
    font-size: 1.7em;
  }
  .a-img {
    width: 250px;
    height: 250px;
  }
  .accData {
    display: flex;
    width: 100%;
  }
  .rd input {
    width: 100%;
    flex-grow: 1;
  }
  .rd span {
    white-space: nowrap;
  }
}/*# sourceMappingURL=style.css.map */